.submit-default{
  display: flex;
  &.button-center{
    justify-content: center;
  }
    button{
      height: 40px;
      width: 120px;
      border: none;
      background-color: #C4C4C4;
      border-radius: 10px;
      color:#8C4D4D;
      cursor: pointer;
      font-size: 20px;
      &:focus{
        outline: none;
        opacity: unset;
      }
      &:active{
        background-color: #341724;
        color: #C4C4C4;
      }
      &:hover{
        outline:none;
      }
      &.button-right{


      }
      &.button-center{
        align-self: center;
      }
    }
}