.input-container{
  .input-file{
    display: flex;
    position: relative;
    box-sizing: border-box;
    &.input-left{
      align-self: left;
    }
    .input-file__label{
      height: 40px;
      width: 160px;
      border: none;
      background-color: #C4C4C4;
      border-radius: 10px;
      color:#8C4D4D;
      cursor: pointer;
      font-size: 20px;
      text-align: center;
      padding-top: 5px;
      &:focus{
        outline: none;
        opacity: unset;
      }
      &:active{
        background-color: #341724;
        color: #C4C4C4;
      }
      &:hover{
        outline:none;
      }
      &.button-right{


      }
      &.label-center{
        align-self: center;
      }
    }
    .input-file__item{
      display: none;
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      border: 0;
      border-radius: 10px;
      height: 52px;
      background-color: #C4C4C4;
      font-size: 20px;
      font-weight: normal;
      font-family: Roboto;
      padding-left: 1.5em;
      outline: none;
      &:hover{
        outline: none;
      }
      &::placeholder{
        font-size: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        text-indent: 0px;
        transition: text-indent 300ms;
      }
      &:focus{
        &::placeholder{
          text-indent: 500px;
        }
      }
    }
  }
}