.html-input-container{
  max-width: 500px;
  min-height: 100px;
  position: relative;
  .html-input-container__wrapper{
    position: absolute;
    width: 100%;
    height: auto;
    top:0;
    left: 0;
    background-color: #C4C4C4;
  }
}