.category__wrapper {
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    .submit-default{
      &:last-child{
        button{
          margin-left: .5em;
        }
      }
      &:first-child{
        button{
          margin-right: .5em;
        }
      }
      button{
        @media screen and (max-width: 340px){
          width: 140px!important;
        }
      }
    }
  }
}