.input-container{
  .input-checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .input-checkbox__item{
      width: 20px;
      height: 20px;
    }
    .input-checkbox__label{
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      color:#d3b1b1;
    }
  }
}