body{
  padding: 0;
  position: relative;
  margin: 0;
  background-image: url("/img/temp/bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mt1{
  margin-top: 1em;
}

.tc{
  text-align: center;
}
button{
  &.b-w100{
    width: 160px!important;
  }
  &.b-h50{
    height: 50px!important;
  }
}

.svg-icon{
  width: 100%;
  height: 100%;
  fill: currentColor;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.link__wrapper{
  position: relative;
  display: inline-block;
  .link{
    transition: all 0.5s ease;
    position: relative;
    box-sizing: border-box;
    max-width: 200px;
    &.link_black{
      color:#000;

    }
    &:hover{

    }
    &:hover:after,
    &:focus:after {
      width: 100%;
    }
    &:after{
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      background-color: #000000;
      transition: width .3s ease-in-out;
    }
  }
}


@import "fonts";