body{
  padding: 0;
  margin: 0;
  background-image: url(/img/temp/bg.png) ;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Monofett&display=swap');