.main-block{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .main-block__container{
    align-self: center;
    margin-bottom: 5em;
    .head{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .head__text{
        font-family: 'Monofett';
        font-style: normal;
        font-weight: normal;
        font-size: 90px;
        color:#D3B1B1;
        line-height: 102px;
        margin: 0;
        @media screen and(max-width: 600px){
          font-size: 60px;
        }
        @media screen and(max-width: 400px){
          font-size: 40px;
        }
      }
    }

    .main-inputs{
      margin-top: 4em;
      display: flex;
      flex-direction: column;
      .inputs-container{
        .input-item{
          display: flex;
          flex-direction: column;
          position: relative;
          box-sizing: border-box;
          input{
            width: 100%;
            padding: 0;
            box-sizing: border-box;
            border: 0;
            border-radius: 10px;
            height: 52px;
            background-color: #C4C4C4;
            font-size: 20px;
            font-weight: normal;
            font-family: Roboto;
            padding-left: 1.5em;
            outline: none;
            &:hover{
              outline: none;
            }
            &::placeholder{
              font-size: 20px;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              text-indent: 0px;
              transition: text-indent 300ms;
            }
            &:focus{
              &::placeholder{
                text-indent: 500px;
              }
            }
          }
          p{
            padding-left: 2em;
            a{
              text-decoration: none;
              color:#000000;
              font-family: Roboto, sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size:17px;
              &:hover{
                text-decoration: none;

              }
            }
          }
        }
      }
    }

    .main-submit{
      margin-top: 1em;
      .submit-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .main-submit__btn{
          height: 40px;
          width: 120px;
          border: none;
          background-color: #C4C4C4;
          border-radius: 10px;
          color:#8C4D4D;
          cursor: pointer;
          font-size: 20px;
          &:focus{
            outline: none;
            opacity: unset;
          }
          &:active{
            background-color: #341724;
            color: #C4C4C4;
          }
          &:hover{
            outline:none;
          }
        }
      }
    }


  }
}